<h2 class="mx-5 my-2">Datos del perfil</h2>
    <div class="mb-5">
      <div class="d-flex justify-content-start border-bottom border-dark border-2">
        <h2 class="m-3"> Bienvenido {{user}} </h2>
        <a href="/logout" class="btn btn-secondary m-3">Logout</a>
      </div>
    </div>