<h2 class="text-center my-4">Login</h2>
<div class="container">
    <div class="d-flex justify-content-center">
        <form method="get" action="/login" class="mx-auto">
            <div>
                <label>Ingresa tu nombre de usuario</label>
                <input type="text" name="user" />
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-3">Enviar</button>
            </div>
        </form>
    </div>
</div>
<div>